<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Belongs to</th>
    <th>Belongs to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.date %></td>
    <td><%= reservation.belongs_to %></td>
    <td><%= reservation.belongs_to %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
