<%= form_for(@beam_target) do |f| %>
  <% if @beam_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beam_target.errors.count, "error") %> prohibited this beam_target from being saved:</h2>

      <ul>
      <% @beam_target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :density %><br />
    <%= f.number_field :density %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.number_field :volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
