<p id="notice"><%= notice %></p>

<p>
  <b>Density:</b>
  <%= @beam_target.density %>
</p>

<p>
  <b>Volume:</b>
  <%= @beam_target.volume %>
</p>


<%= link_to 'Edit', edit_beam_target_path(@beam_target) %> |
<%= link_to 'Back', beam_targets_path %>
